body{
	float:left;
	display: inline;
	font-family: 'Alegreya Sans', sans-serif;
	background-color: #faebdc;
	padding-left: 40px;
	padding-right: 40px;
}

#pop, #hiphop, #country, #rnb, #hiphouse, #altrock,
#edm, #indiepop, #soul{
	line-height: 0;
}

table{
	margin-left: auto;
	margin-right: auto;
}

table td{
	vertical-align: top;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 15px;
}

#data{
	margin-left: auto;
	margin-right: auto;
	height: 20px;
}